<div class="table-responsive">
  <table class="table">
    <thead class="thead-light">
      <th scope="col">Name</th>
      <th scope="col">Amount</th>
      <th scope="col">Category</th>
      <th scope="col">Date</th>
    </thead>
    <!-- research why the error is going on, but this does work for the time being -->
    <tr *ngFor="let row of rowsArray | slice: 0:8">
      <td>{{ row.name }}</td>
      <td>${{ row.amount }}</td>
      <td>{{ row.category }}</td>
      <td>{{ row.date }}</td>
    </tr>
  </table>
</div>
