.cp-styling {
  background-color: rgb(241, 243, 243);
  border: rgb(241, 243, 243, 0.2) 3px groove;
}

.bp-styling {
  background-color: rgb(241, 243, 243);
  border: rgb(241, 243, 243, 0.2) 3px groove;
  padding: 20px;
}

.tp-styling {
  background-color: rgb(241, 243, 243);
  border: rgb(241, 243, 243, 0.2) 3px groove;
  padding: 20px;
}

.header-color {
  color: green;
}
